/*! 780PX**************************************************************/
@media screen and (min-width:775px){
    .container{
        max-width: 780px;
    }
    
    
    
    
/*NAV*********************************************************************/
    nav{
        width: 300px;
        padding: 10px 18px;
    }
    .top-icon-wrapper,.bot-icon-wrapper{
        align-items: flex-start;

    }
    .logo-icon,.house-icon,.search-icon,.library-icon{
        height: 30px;
    }
    .logo-icon{
        display: none;
    }
    .logo-bigger{
        display: inline;
    }
    .logo-txt{
        align-items: center;
    }
    .logo-txt p{
        display: inline;
    }

/*PLAYLISTS**********************************************************************/
    .playlists{
        display: block;
    }








}

/*! 990PX**************************************************************/
@media screen and (min-width:975px){
    .container{
        max-width: 990px;
    }
    .category-wrapper{
        max-width: 700px;
    }

    .album-row .album-card{
        width: calc(100% / 4 - 20px);
    }
}
/*! 1200PX**************************************************************/
@media screen and (min-width:1180px){
    .container{
        max-width: 100%;
    }
    .album-row .album-card{
        width: calc(100% / 6 - 20px);
    }
}