
/*!GENERALE*************************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

.container{
    max-width: 580px;
    margin: auto;
}
ul{
    list-style-type: none;
}
/*! UTILITIES*******************************************************/
.flex{
    display: flex;
}
img{
    max-width: 100%;
}
.column-dir{
    flex-direction: column;
}
.pad-s{
    padding: 10px;
}
.mar-s{
    margin: 10px;
}
.marb-s{
    margin-bottom: 10px;
}

/*!MAIN***************************************************************/
main{
    background-color: wheat;
    width: 100%;
    overflow-y: auto;
}
.main-body{
    background-color: blue;
    height: calc(100vh - 100px);
}
/*!HEADER********************************************************************/
header{
    min-height: 100px;
    background-color: rgba(0, 0, 0, 0.349);
}
/*!NAV***************************************************************/
nav{
    height: 100%;
    background-color: black;
    width: 70px;
    flex-direction: column;
    justify-content: space-between;
}
.logo-icon,.house-icon,.search-icon,.library-icon{
    height: 35px;
}
.logo-bigger{
    display: none;
    height: 50px;
}
.logo-txt p{
    display: none;
    margin-left: 10px;
}
.dowload-icon,.profile-icon{
    height: 27px;
}
/*!PLAYLISTS********************************************************/

.playlists{
    display: none;
}



.add-play{
    align-items:center ;
}
.add{
    height: 45px;
    width: 45px;
    background-color: gray;
    text-align: center;
    font-size: 45px;
    line-height: 45px;
    margin-right: 5px;
}
.new-lists{
    overflow-y: scroll;
    height: 300px;
    margin-top: 15px;
}
.new-lists>li{
    margin: 10px 0;
}
/*!FOOTER***********************************************************************/
footer{
    min-height: 100px;
    background-color: gray;
}