
/*!GENERALE*************************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 580px;
    margin: auto;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none ;
}
/*? UTILITIES*******************************************************/
.flex{
    display: flex;
}
img{
    max-width: 100%;
}
.column-dir{
    flex-direction: column;
}
.pad-s{
    padding: 10px;
}
.mar-s{
    margin: 10px;
}
.marb-s{
    margin-bottom: 10px;
}
.img-max{
    width: 100%;
}
.rounded{
    border-radius: 50%;
}

/*!MAIN***************************************************************/
main{
    background-color: #141922;
    width: 100%;
    overflow-y: auto;
}
.main-body{
    height: calc(100vh - 100px);
}
/*!HEADER********************************************************************/
header{
    min-height: 100px;
    background-color: rgba(0, 0, 0, 0.349);
    align-items: center;
    justify-content:flex-end;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}
.upgrade-btn{
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.349);
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 10px 65px;
    border-radius: 30px;
    transition: 0.5s linear;
}
.upgrade-btn:hover{
    background-color: rgb(0, 177, 0);
    border-color: black;
    cursor: pointer;
}
/*!NAV***************************************************************/
nav{
    height: 100%;
    background-color: black;
    width: 70px;
    flex-direction: column;
    justify-content: space-between;
}
.logo-icon,.house-icon,.search-icon,.library-icon{
    height: 35px;
}
.logo-bigger{
    display: none;
    height: 50px;
}
.logo-txt{
    transition: 0.2s linear;
}
.logo-txt p{
    display: none;
    margin-left: 10px;
    color: gray;
}
.logo-txt:hover{
    border-left: 3px solid lime;
    cursor: pointer;
    padding-left: 2px;
}
.logo-txt p:hover{
    color: #fff;
    cursor: pointer;
}
.dowload-icon,.profile-icon{
    height: 27px;
}
/*!PLAYLISTS********************************************************/
.playlists{
    display: none;
}
.play-body{
    position: relative;
    bottom: 70px;
}
.add-play{
    align-items:center ;
}
.add-play >p{
    color: gray;
}
.add-play >p:hover{
    color: #fff;
    cursor: pointer;
}
.add{
    height: 45px;
    width: 45px;
    background-color: gray;
    text-align: center;
    font-size: 45px;
    line-height: 45px;
    margin-right: 5px;
}
.new-lists{
    overflow-y: scroll;
    height: 300px;
    margin-top: 15px;
}
.new-lists>li{
    margin: 10px 0;
    color: gray;
}
.new-lists li:hover{
    color: #fff;
    cursor: pointer;
}
/*!CATEGOIE**************************************************************/
.category{
    text-transform: capitalize;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 15px;
}
.category p{
  color: gray;
  margin: 15px 15px 0 0;
  font-size: 19px;
  transition: 0.1s linear;
}

.category p:hover{
    border-bottom: 2px solid rgb(0, 177, 0);
    cursor: pointer;
}
.category-wrapper{
    max-width: 480px;
    margin: auto;
}
/*!ALBUMS E AUTORI**************************************************/
.albums{
    padding: 12px
}
.album-titolo h2{
    font-size: 30px;
    margin-top: 15px;
}
.album-row{
    flex-wrap: wrap;
}
.album-row .album-card{
    min-height: 200px;
    width: calc(100% / 2 - 20px);
    margin: 10px;
}
.overlay{
    background-color: rgb(255, 0, 0);
    z-index: 1;
}
.album-info{
    text-align: center;
}
/*!FOOTER***********************************************************************/
footer{
    min-height: 100px;
    background-color: #282828;
}
.sides{
    min-width: calc(100% / 3);
}
.playing{
    height: 100%;
    align-items: center;
}
.playing-icon{
    height: 50px;
}
.relative-txt{
    font-size: 13px;
    padding: 10px 5px;
}
.action-on-subject{
    flex-direction: column;
    margin-left: 10px;
}
.main-foot{
    flex-direction: column;
    min-width: calc(100% / 3);
    justify-content: center;
}
.circle{
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
    position: relative;
    top: -5px;
}
.fa-play{
    transform: translate(7px , 1px);
}
.player{
    justify-content: space-evenly;
    font-size: 20px;
}
.barra-body{
    margin: 0 15px;
}
.barra-body>*{
    font-size: 12px;
}
.progress-bar{
    height: 5px;
    width: 100%;
    background-color: #5a5a5a;
    margin: 0 5px;
    align-self: center;
    border-radius: 15px;
}
.actual-progress{
    background-color: #fff;
    width: 30%;
    margin: 0;
}
.right{
    align-items: center;
    justify-content:flex-end ;
}
.action-on-user{
    width: auto;
    margin-right: 15px;
}
.volume-bar{
    width: 70px;
}
.action-list{
    align-items: center;
}
.action-list i{
    margin-left: 10px;
}