
/*!GENERALE*************************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

.container{
    max-width: 580px;
    margin: auto;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none ;
}
/*? UTILITIES*******************************************************/
.flex{
    display: flex;
}
img{
    max-width: 100%;
}
.column-dir{
    flex-direction: column;
}
.pad-s{
    padding: 10px;
}
.mar-s{
    margin: 10px;
}
.marb-s{
    margin-bottom: 10px;
}
.img-max{
    width: 100%;
}

/*!MAIN***************************************************************/
main{
    background-color: wheat;
    width: 100%;
    overflow-y: auto;
}
.main-body{
    background-color: blue;
    height: calc(100vh - 100px);
}
/*!HEADER********************************************************************/
header{
    min-height: 100px;
    background-color: rgba(0, 0, 0, 0.349);
    align-items: center;
    justify-content:flex-end;
}
/*!NAV***************************************************************/
nav{
    height: 100%;
    background-color: black;
    width: 70px;
    flex-direction: column;
    justify-content: space-between;
}
.logo-icon,.house-icon,.search-icon,.library-icon{
    height: 35px;
}
.logo-bigger{
    display: none;
    height: 50px;
}
.logo-txt p{
    display: none;
    margin-left: 10px;
}
.dowload-icon,.profile-icon{
    height: 27px;
}
/*!PLAYLISTS********************************************************/
.playlists{
    display: none;
}
.play-body{
    position: relative;
    bottom: 70px;
}
.add-play{
    align-items:center ;
}
.add{
    height: 45px;
    width: 45px;
    background-color: gray;
    text-align: center;
    font-size: 45px;
    line-height: 45px;
    margin-right: 5px;
}
.new-lists{
    overflow-y: scroll;
    height: 300px;
    margin-top: 15px;
}
.new-lists>li{
    margin: 10px 0;
}
/*!HEADER************************************************************/
.upgrade-btn{
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.349);
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 10px 65px;
    border-radius: 30px;
}
/*!CATEGOIE**************************************************************/
.category{
    text-transform: capitalize;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 15px;
}
.category p{
  color: gray;
  margin-right: 15px;
  font-size: 19px;
}
.category-wrapper{
    max-width: 480px;
    margin: auto;
}
/*!ALBUMS E AUTORI**************************************************/
.albums{
    padding: 12px
}
.album-titolo h2{
    font-size: 30px;
}
.album-row{
    flex-wrap: wrap;
}
.album-row .album-card{
    height: 200px;
    width: calc(100% / 2 - 20px);
    border: 2px solid black;
    margin: 10px;
}
/*!FOOTER***********************************************************************/
footer{
    min-height: 100px;
    background-color: gray;
}